$background-color: #FDFDFD;
$primary-color: #73A9AD;
$secondary-color: #FF8484;
$tertiary-color: #8C7284;
$dark-color: #2C3333;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
 
body{
    background-color: $background-color;

    .quizzes-container{
        font-family: 'Montserrat', sans-serif;
        padding: 2vw 5vw;
        display: flex;
        flex-direction: column;
        gap: 1vw;
        .quizzes-instruments-bar{
            display: flex;
            flex-direction: row;
            gap: 1vw;
            .quiz-number-title{
                color: $tertiary-color;
                font-size: 1vw;
                font-weight: 600;
                margin: 0;
            }
            .number-quizzes{
                background-color: #8C7284;
                color: $background-color;
                font-size: 0.8vw;
                font-weight: 500;
                padding: 0.2vw 0.4vw;
                border-radius: 5px;
            }
            .sorting-label{
                color: $tertiary-color;
                font-size: 1vw;
                font-weight: 600;
                margin: 0;
            }
            .sort-button-title{
                cursor: pointer;
                background-color: $background-color;
                border: 1px solid $tertiary-color;
                border-radius: 3px;
                color: $tertiary-color;
            }
            .sort-button-number{
                cursor: pointer;
                background-color: $background-color;
                border: 1px solid $tertiary-color;
                border-radius: 3px;
                color: $tertiary-color;
            }
        }
        .quizzes{
            display: flex;
            flex-wrap: wrap;
            column-gap: 1vw;
            row-gap: 1vw;
            gap: 4vw;
            .quiz-card{
                background-color: $tertiary-color;
                border-radius: 10px;
                background-image: url("../images/bg-elemnts-card.png");
                background-repeat: no-repeat;
                background-size: 60%;
                width: 19.22vw;
                background-position: left 130% top 170%;
                &:hover {
                    transform: translateY(-5px);
                    transform: scale(1.01);
                    box-shadow: 0 0 12px rgba($color: $tertiary-color, $alpha: 1.0);
                    transition: all 0.2s ease-in;
                }
                .quiz-card-container{
                    display: flex;
                    flex-direction: column;
                    gap: 6.8vw;
                    padding: 1.35vw 1.8vw;
                    .title-description-logo{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .title-description{
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            text-align: start;
                            gap: 0.6vw;
                            p {
                                margin: 0;
                                padding: 0;
                            }
                            .quiz-card-title{
                                font-size: 0.9vw;
                                font-weight: 700;
                            }
                            .description{
                                font-size: 0.8vw;
                                max-width: 60%;
                            }
                            .number-of-question{
                                font-size: 0.8vw;
                                max-width: 70%;
                            }
                        }
                        svg{
                            overflow: visible;
                        }
                    }
        
                    .start-quiz{
                        cursor: pointer;
                        font-weight: 600;
                        font-size: 0.8vw;
                        border: none;
                        text-align: start;
                        width: 3vw;
                        background: none;
                    }
                }
            }
        }
    }
}