$background-color: #FDFDFD;
$primary-color: #73A9AD;
$secondary-color: #FF8484;
$tertiary-color: #8C7284;
$dark-color: #2C3333;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

.quiz-container {
    font-family: 'Montserrat', sans-serif;
    .quiz-title-question-answers{
        display: flex;
        justify-content: center;  
        align-items: center;
        flex-direction: column;
        gap: 1vw;
        .question-counter{
            font-weight: 600;
            color: $tertiary-color;
            font-size: 1vw;
        }
        .buttons{
            display: flex;
            flex-direction: row;
            gap: 1vw;
            button{
                display: flex;
                flex-direction: row;
                gap: 3vw;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                font-size: 1vw;
                padding: 1vw 2vw;
                background-color: $background-color;
                border: solid 1px $dark-color;
                border-radius: 5px;
                width: 16vw;
                height: 3.95vw;
                color: $primary-color;
                &:hover{
                    background-color: $primary-color;
                    color: $background-color;
                    transition: all 0.3s ease-in;
                    svg{
                        fill: $background-color;
                    }
                }
                svg{
                    fill: $primary-color;
                }
            }
        }
    }

}

.popup-content { 
    font-family: 'Montserrat', sans-serif;
    font-size: 2vw;
    font-weight: 600;
    margin: auto;  
    border: 1px solid $dark-color;
    border-radius: 5px;
    background: rgb(255, 255, 255);  
    width: 50%;  
    height: 25vw;
    padding: 5px;
    color: $tertiary-color;
    background-image: url("../images/background-elements.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    .modal {
        padding: 1vw 2vw;
        .content{
            gap: 1vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                margin: 0;
            }
            .score{
                color: $secondary-color;
            }
        }
        button{
            display: flex;
            padding: 0.2vw 0.4vw;
            align-items: center;
            justify-content: center;
            font-size: 2vw;
            width: 3vw;
            height: 3vw;
            cursor: pointer;
            background-color: #8C7284;
            border:1px solid #2C3333;
            border-radius: 5px;
        }
    }
}
.popup-arrow {  
    color: #FDFDFD;
}
[role='tooltip'].popup-content {  
    width: 200px;  
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 3px;
}
.popup-overlay {  
    background: rgba(0, 0, 0, 0.5);
}
[data-popup='tooltip'].popup-overlay {  
    background: transparent;
}